@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

.App {
  text-align: center;
}

.fight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.shrek {
  margin: 10px;
}

.knight {
  margin: 10px;
}

.App-header {
  background-color: #c287486f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 2px solid black;
}

.App-link {
  color: #61dafb;
}

button {
  margin: 5px;
  border-radius: 50px;
  border: 1px;
  background-color: #bde11eb0;
  font-size: 20px;
  font-family: 'Chicle', cursive;
  border-bottom: 2px solid black;
}

button:hover {
  background-color: #7d970ab0;
}

.button {
  display: flex;
  flex-direction: column;
}

.swamp {
  font-size: 30px;
  border-bottom: 2px solid black;
  margin: 10px;
}

.parade {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #c287486f;
}

